{% load static bulma_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Title{% endblock title %}</title>
  {% block css %}
    <link rel="stylesheet" href="{% static 'bulma/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'bulma/css/style.css' %}">
    {% block extra_css %}{% endblock extra_css %}
  {% endblock css %}
</head>
<body>
    {% block content %}{% endblock %}
</body>